footer.footer
	.footer__menu
		.block_wrap
			.footer__menu_item
				.footer__menutitle.footer__icon.footer__icon_contact Footer info title
				.footer__menuinfo
					| line
					br
					|line
					br
					|line info
			.footer__menu_item
				.footer__menutitle.footer__icon.footer__icon_location Footer info title
				.footer__menuinfo
					| line
					br
					|line
					br
					|line info

			.footer__menu_item
				.footer__menutitle.footer__icon.footer__icon_contact Footer info title
				.footer__menuinfo
					| line
					br
					|line
					br
					|line info

			.footer__menu_item
				.footer__menutitle.footer__icon.footer__icon_contact Footer info title
				.footer__menuinfo
					| line
					br
					|line
					br
					|line info

	.footer__copy_wrap
		.block_wrap
			.footer__copy project name 2016 ©