@import '../../../node_modules/stylus-normalize/normalize.styl'
@import var
@import mixins
@import reset
@import sprite


html
body
	background-color body_bg
	color text_color
	-webkit-font-smoothing antialiased

html
	font-size 10px
	height 100%
	+below(3)
		font-size 9px
	+below(2)
		font-size 8px

body
	position relative
	min-height 100%
	margin-right: 0;
	font-family 'Open Sans', sans-serif


img
	max-width 100%
	display block

.block_wrap
	display block
	margin auto
	max-width max_width
	lost-utility clearfix
	padding 0 20px
	&_long
		max-width 1310px
		padding 50px 80px
		background-color white
		+below(4)
			padding 50px 20px
		+below(3)
			padding 30px 20px

.scrollbar_fix
	margin-left calc(100vw - 100%)

a
	color link_color
	text-decoration none


*
	box-sizing border-box
	vertical-align top
	&:focus
		outline none


// сбросить стандартные стили для ui buttons
input[type="submit"]
	-webkit-appearance none
	-moz-appearance none
	appearance none


@import '../../components/header/_header.styl'
@import '../../components/aside/_aside.styl'
@import '../../components/footer/_footer.styl'