.aside
	.aside__close
	a(href="/").header__logo.header__logo_aside
		span.header__logotitle.header__logotitle_aside Logo

	.aside__menu
		.aside__menuitem
			a(href="") Menu item 1

.aside__fancy







