.modal
	position fixed
	z-index 31
	top 50%
	left 50%
	display none
	transform translate(-50%, -50%)
	max-height 100vh

	&__fancy
		position fixed
		z-index 30
		left 0
		top 0
		display none
		width 100%
		height 100%
		background-color rgba(0,0,0,.6)
