header.header
	.block_wrap

		button.header__burger_btn
			span
			span
			span

		a(href="/").header__logo
			.header__logotitle Logo title

		ul.header__menu
			each val in ['item1', 'item2', 'item 3', 'item4']
				li
					a=val

		.header__contacts
			a(href="tel:88001234567").header__phone 8-800-123-45-67
